html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Garamond' 'Trebuchet MS', sans-serif;
    width: 1080px;
    margin: 0 auto;
    padding: 0 50px;
    color: #006039;
}

img {
    width: auto;
    height: auto;
}

li {
    font-size: 18px;
}

h1, h2 {
    color: #a37e2c;
}

h1 {
    font-size: 36px;
}

h2 {
    font-style: italic;
    font-size: 30px;
}